{% load wagtailimages_tags wagtailcore_tags %}

<h2 class="{{ block.value.icon }} clearfix">
    {% if block.value.url or block.value.page %}
    <a href="{% if block.value.url %}{{ block.value.url }}{% else %}{% pageurl block.value.page %}{% endif %}" class="inline">
    {% endif %}
        {{ block.value.title }}
    {% if block.value.url or block.value.page %}
    </a>
    {% endif %}
    <span class="float-right">
        <a href="{% if block.value.url %}{{ block.value.url }}{% else %}{% pageurl block.value.page %}{% endif %}" class="inline icon">
            {% if block.value.icon == "pencil-podcast" %}
            <i class="fas fa-pencil text-right"></i> <i class="fas fa-podcast text-right"></i>
            {% else %}
            <i class="fas fa-{{ block.value.icon }} text-right"></i>
            {% endif %}
        </a>
    </span>
</h2>

<div class="img-wrapper">
    {% if block.value.url or block.value.page %}
    <a href="{% if block.value.url %}{{ block.value.url }}{% else %}{% pageurl block.value.page %}{% endif %}">
    {% endif %}
        {% image value.image max-600x200 as theimage %}
        <img src="{{ theimage.url }}" alt="{{ theimage.alt }}">
    {% if block.value.url or block.value.page %}
    </a>
    {% endif %}
</div>
<p>
    {% if block.value.url or block.value.page %}
    <a href="{% if block.value.url %}{{ block.value.url }}{% else %}{% pageurl block.value.page %}{% endif %}">
    {% endif %}
        {{ block.value.description|safe }}
    {% if block.value.url or block.value.page %}
    </a>
    {% endif %}
</p>