{% load wagtailimages_tags wagtailcore_tags %}

    <h3 class="{{ block.value.icon }} clearfix">
        <a href="{% if block.value.url %}{{ block.value.url }}{% else %}{% pageurl block.value.page %}{% endif %}">
            {{ block.value.title }}
        </a>
        <span class="float-right">
            {% if block.value.icon == "pencil-podcast" %}
            <i class="fas fa-pencil text-right"></i> <i class="fas fa-podcast text-right"></i>
            {% else %}
            <i class="fas fa-{{ block.value.icon }} text-right"></i>
            {% endif %}
        </span>
    </h3>

<div class="img-wrapper">
    <a href="{% if block.value.url %}{{ block.value.url }}{% else %}{% pageurl block.value.page %}{% endif %}">
        {% image value.image max-600x200 as theimage %}
        <img src="{{ theimage.url }}" alt="{{ theimage.alt }}">
    </a>
</div>
<p>
    <a href="{% if block.value.url %}{{ block.value.url }}{% else %}{% pageurl block.value.page %}{% endif %}">
        {{ block.value.description|safe }}
    </a>
</p>