{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_title %}Text Viewer{% endblock %}

{% block main %}

  <div class="container">
    <nav class="breadcrumb">
      <h2>
        <a class="legend" href="{% url 'texts' %}">Texts</a>
        &gt;
        Text Viewer
      </h2>
    </nav>
  </div>

  {% verbatim %}
    <div class="container text-viewer">

      <div class="dashboard">
      </div>

      <div class="content-area">

      </div>

    </div>
  {% endverbatim %}

  {% block footer_scripts %}
    <script src="{% static 'vue/dist/vue.min.js' %}"></script>
  {% endblock %}

{% endblock %}
