{% extends "base.html" %}
{% load staticfiles compress %}

{% block meta_title %}Sentence search{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/digital-edition.scss' %}">
<link rel="stylesheet" type="text/x-scss" href="{% static 'leaflet/dist/leaflet.css' %}">
{% endblock %}

{% block title %}
<h1 class="no-container">Search</h1>
{% endblock %}

{% block main %}
{% verbatim %}

<div id="text-search" class="grid-x grid-margin-x">

  <div class="cell medium-3">
      <h2>Result Type</h2>

      <label><input type="radio" v-model="facets.result_type" value="regions">Heatmap</label>
      <label><input type="radio" v-model="facets.result_type" value="sentences">Sentences</label>

      <h2>Options</h2>

      <template v-if="facets.result_type == 'sentences'">
        <h3>Sentence number</h3>
        <div class="button-group with-input">
          <button class="button secondary" @click="move_sentence_number(-1)"><i class="fas fa-angle-double-left"></i><span class="show-for-sr">Prev</span></button>
          <input v-model="facets.sentence_number" type="number" min="1" max="sentence_number_max" value="1">
          <button class="button secondary" @click="move_sentence_number(1)"><i class="fas fa-angle-double-right"></i><span class="show-for-sr">Next</span></button>
        </div>
      </template>

      <h3>Texts</h3>
      <template v-for="text in facets.texts">
          <template v-if="text.type == 'version'">
              <ul class="menu vertical">
                  <li :class="">
                      <label>
                          <input type="checkbox" v-model="text.selected" @change="on_tick_text(text)">
                          <span class="label secondary version">{{ text.attributes.siglum }}</span> {{ text.attributes.name }}
                      </label>
                      <ul class="menu vertical">
                          <template v-for="member in facets.texts">
                              <li :class="" v-if="member.attributes.group == text.id">
                                  <label>
                                      <input type="checkbox" v-model="member.selected" @change="on_tick_text(member)">
                                      <span class="label secondary manuscript">{{ member.attributes.siglum }}</span> {{ member.attributes.name }}
                                  </label>
                              </li>
                          </template>
                      </ul>
                  </li>
              </ul>
          </template>
      </template>
  </div>

  <div class="cell medium-9">
      <h2>Results</h2>
      <template v-if="response.data && response.data.length > 0">
          <div class="hit" v-for="hit in response.data" v-html="hit.html">
          </div>
      </template>
  </div>

</div>
{% endverbatim %}
{% endblock %}

{% block footer_scripts %}
  {{ block.super }}
  <script>
      window.DEBUG = {% if DEBUG %}true{% else %}false{% endif %};
  </script>

  <script src="{% static 'vue/dist/vue.js' %}"></script>

  <script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
  <script src="{% static 'leaflet-iiif/leaflet-iiif.js' %}"></script>

  <script src="{% static 'ctrs_texts/text_search.js' %}"></script>
{% endblock %}
