/** CTRS
 *
 *  1.  Settings / Variables
 *          1.1 Breakpoints
 *          1.2 Colours
 *  2.  Globals
 *          2.1 Buttons
 *          2.2 Forms
 *          2.3 Headings
 *          2.4 Links
 *          2.5 Tables
 *  3.  Grid
 *  4.  Layout
 *          4.1 Header
 *          4.2 Main
 *          4.3 Sidebar
 *          4.4 Footer
 *  5.  Typography
 *  6.  Media queries
 *  7.  Print
 */

/* 1. Settings / Variables */

$base-font-size: 20px;

$body-font-family: 'Lora', serif;
$headings-font-family: 'Open Sans Condensed', sans-serif;

// 1.1 Breakpoints

$break-small: 767px;
$break-medium: 768px;
$break-large: 1199px;

// 1.2 Colours

// Possible colour palettes
// https://coolors.co/984447-add9f4-476c9b-468c98-101419
// https://coolors.co/4e598c-ffffff-f9c784-fcaf58-ff8c42
// https://coolors.co/edeec0-433e0e-7c9082-a7a284-d0c88e
// https://coolors.co/151515-a63d40-e9b872-90a959-6494aa
// https://coolors.co/122c34-224870-2a4494-4ea5d9-44cfcb

// https://coolors.co/55dde0-33658a-2f4858-f6ae2d-f26419

$primary-color: #2f4858;
$secondary-color: #f26419;

$error-color: #a63d40;
$success-color: #54af68;
$warning-color: #f6ae2d;

$rich-black: #06070e;

// $dark: #122c34;

/* 2. Globals */

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: $rich-black;
    font-family: $body-font-family;
    font-size: $base-font-size;
    font-weight: 400;
    margin: 0;
}

// 2.1 Buttons

button,
.button {
    background: $primary-color;
    color: white;
    padding: 5px 10px;
}

// 2.2 Forms

// 2.3 Headings

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
}


// 2.4 Links

a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// 2.5 Tables

/* 3. Grid */

.grid {
    background: lighten($primary-color, 70%)
}

/* 4. Layout */

header,
footer {
    color: white;
}

// 4.1 Header

// 4.2 Main

// 4.3 Sidebar

// 4.4 Footer

/* 5. Typography */

// Lora

@font-face {
    font-family: 'Lora';
    src: '../fonts/Lora/Lora-Regular.ttf' format('truetype');

    font-weight: normal;
}

@font-face {
    font-family: 'Lora';
    src: '../fonts/Lora/Lora-Bold.ttf' format('truetype');

    font-weight: bold;
}

@font-face {
    font-family: 'Lora';
    src: '../fonts/Lora/Lora-Italic.ttf' format('truetype');

    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: '../fonts/Lora/Lora-BoldItalic.ttf' format('truetype');

    font-style: italic;
    font-weight: bold;
}

// Open Sans Condensed

@font-face {
    font-family: 'Open Sans Condensed';
    src: '../fonts/Open_Sans_Condensed/OpenSanscondensed-Light.ttf' format('truetype');

    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: '../fonts/Open_Sans_Condensed/OpenSanscondensed-Bold.ttf' format('truetype');

    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: '../fonts/Open_Sans_Condensed/OpenSanscondensed-LightItalic.ttf' format('truetype');

    font-style: italic;
    font-weight: 300;
}

/* 6. Media queries */

/* 7. Print */
