{% load staticfiles %}

<div class="grid-x">
    <div class="cell">
        <div class="avatar show-for-medium">
            <a href="/">
                <img src="{% static 'images/avatar.jpg' %}" alt="{{ PROJECT_TITLE }} homepage">
            </a>
        </div>
        <h1 class="small-order-1 medium-order-2">
            <a href="/">{{ PROJECT_TITLE }}</a><br>
            <small>1249–1424: History, law and charters in a recreated kingdom</small>
        </h1>
        <div class="avatar show-for-small-only">
            <a href="/">
                <img src="{% static 'images/avatar.jpg' %}" alt="{{ PROJECT_TITLE }} homepage">
            </a>
        </div>
    </div>
</div>