{% load staticfiles %}

<div class="grid-x">
    <div class="cell">
        <h4 class="text-center">Partners and Funders</h4>
    </div>
</div>

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell medium-auto">
    <p class="byline">Supported by:</p>
    <a href="//ahrc.ukri.org/">
        <img src="{% static 'images/logos/UKRI_AHR_Council-Logo_Horiz-RGB.svg' %}" alt="Arts and Humanities Research Council">
    </a>
  </div>
  <div class="cell medium-auto">
    <a href="https://ahrc.ukri.org/">
        <img src="{% static 'images/logos/nac-logo.png' %}" alt="Newbattle Abbey College">
    </a>
  </div>
  <div class="cell medium-auto">
    <a href="//www.ed.ac.uk/">
        <img src="{% static 'images/logos/university-of-edinburgh.png' %}" alt="University of Edinburgh">
    </a>
  </div>
  <div class="cell medium-auto">
    <a href="//www.gla.ac.uk">
        <img src="{% static 'images/logos/university-of-glasgow.jpg' %}" alt="University of Glasgow">
    </a>
  </div>
  <div class="cell medium-auto">
    <a href="//www.nrscotland.gov.uk">
        <img src="{% static 'images/logos/nrs-logo.png' %}" alt="National Records of Scotland">
    </a>
  </div>
  <div class="cell medium-auto">
    <a href="//kcl.ac.uk/">
        <img src="{% static 'images/logos/kings-logo-red.svg' %}" alt="King's College London">
    </a>
  </div>
</div>


