{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="en-GB">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block meta_title %}500 Internal server error{% endblock %} |
      Community of the Realm of Scotland</title>
    <meta name="author" content="King's Digital Lab">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss"
      href="{% static 'scss/normalize.css' %}">
    <link rel="stylesheet" type="text/x-scss"
      href="{% static 'scss/main.scss' %}">
    {% endcompress %}
  </head>

  <body>
    <header>
      <div class="wrapper">
        {% include 'includes/header.html' %}
      </div>
    </header>

    <nav>
      <div class="wrapper">
        {% include 'includes/navigation.html' %}
      </div>
    </nav>

    <main>
      <div class="wrapper">
        {% block title %}<h1>500 Internal server error</h1>{% endblock %}
        {% block main %}
        <p>Sorry, service temporarily unavailable.</p>
        <p>It's possible our engineers are aware of the issue and already
          working on fixing it, but if you can spare a minute to let us know
          this is happening, we really appreciate it. Drop us an email at <a
            href="mailto:kdl-support@kcl.ac.uk">kdl-support@kcl.ac.uk</a>.
          <strong>Thank you</strong></p>
        {% endblock %}
      </div>
    </main>

    <footer>
      <div class="wrapper">
        {% block footer %}
        {% include 'includes/footer.html' %}
        {% endblock %}
      </div>
    </footer>

    {% compress js %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}

    {% block footer_scripts %}{% endblock %}

    {% compress js %}
    <script src="{% static 'js/google_analytics.js' %}"></script>
    <script>
      ga('create', '{{ settings.GA_ID }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endcompress %}
  </body>

</html>
