{% extends "base.html" %}
{% load staticfiles compress %}

{% block meta_title %}Sentence search{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/x-scss"
  href="{% static 'scss/digital-edition.scss' %}">
<link rel="stylesheet" type="text/x-scss"
  href="{% static 'leaflet/dist/leaflet.css' %}">
{% endblock %}

{% block title %}
<h1 class="no-container">Search</h1>
{% endblock %}

{% block main %}
{% verbatim %}

<div id="text-search" class="grid-x grid-margin-x">
  <div class="cell medium-3 controls">
    <h2>Result Type</h2>

    <div class="grid-x grid-margin-x">
      <div class="cell small-6">
        <p>Heatmap</p>
        <div class="switch tiny">
          <input class="switch-input" v-model="facets.result_type" type="radio"
            value="regions" id="regions" checked name="radio-group-type">
          <label class="switch-paddle" for="regions">
            <span class="show-for-sr">Heatmap</span>
          </label>
        </div>
      </div>
      <div class="cell small-6">
        <p>Sentences</p>
        <div class="switch tiny">
          <input class="switch-input" v-model="facets.result_type" type="radio"
            value="sentences" id="sentences" name="radio-group-type">
          <label class="switch-paddle" for="sentences">
            <span class="show-for-sr">Sentences</span>
          </label>
        </div>
      </div>
    </div>

    <h2>Options</h2>

    <template v-if="facets.result_type == 'sentences'">
      <h3>Sentence number</h3>
      <div class="button-group with-input">
        <button class="button secondary" @click="move_sentence_number(-1)"><i
            class="fas fa-angle-double-left"></i><span
            class="show-for-sr">Prev</span></button>
        <input v-model="facets.sentence_number" type="number" min="1"
          :max="sentence_number_max" value="1">
        <button class="button secondary" @click="move_sentence_number(1)"><i
            class="fas fa-angle-double-right"></i><span
            class="show-for-sr">Next</span></button>
      </div>
    </template>

    <template v-if="facets.result_type == 'sentences'">
      <h3>Language</h3>

      <div class="grid-x grid-margin-x">
        <div class="cell small-6">
          <p>Latin</p>
          <div class="switch tiny">
            <input class="switch-input" v-model="facets.encoding_type"
              type="radio" value="transcription" id="transcription" checked
              name="radio-group-lang">
            <label class="switch-paddle" for="transcription">
              <span class="show-for-sr">Latin</span>
            </label>
          </div>
        </div>
        <div class="cell small-6">
          <p>English</p>
          <div class="switch tiny">
            <input class="switch-input" v-model="facets.encoding_type"
              type="radio" value="translation" id="translation"
              name="radio-group-lang">
            <label class="switch-paddle" for="translation">
              <span class="show-for-sr">English</span>
            </label>
          </div>
        </div>
      </div>
    </template>

    <h3>Texts</h3>
    <!-- TODO: implements select/deselect all button -->
    <button class="button small secondary select-all">Select all</button>
    <template v-for="text in facets.texts">
      <template v-if="text.type == 'version'">
        <ul class="menu vertical">
          <li :class="">
            <label>
              <input type="checkbox" v-model="text.selected"
                @change="on_tick_text(text)">
              <span
                :class="'label secondary version ' + text.attributes.siglum.toLowerCase() + '-text-id'">{{ text.attributes.siglum }}</span>
              {{ text.attributes.name }}
            </label>
            <ul class="menu vertical">
              <template v-for="member in facets.texts">
                <li :class="" v-if="member.attributes.group == text.id">
                  <label>
                    <input type="checkbox" v-model="member.selected"
                      @change="on_tick_text(member)">
                    <span
                      class="label secondary manuscript">{{ member.attributes.siglum }}</span>
                    {{ member.attributes.name }}
                  </label>
                </li>
              </template>
            </ul>
          </li>
        </ul>
      </template>
    </template>
  </div>

  <div class="cell medium-9" id="results">
    <h2>Results</h2>

    <!-- Static visualisation to add info based on the heatmap -->
    <!--
      <template v-if="facets.result_type == 'sentences'">
        <nav aria-label="Pagination" class="heatmap-viz-nav">
          <ul class="pagination text-center">
            <li class="pagination-previous disabled">Prev</li>
            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
            <li><a href="#" aria-label="Page 2">2</a></li>
            <li><a href="#" aria-label="Page 3">3</a></li>
            <li><a href="#" aria-label="Page 4">4</a></li>
            <li><a href="#" aria-label="Page 5">5</a></li>
            <li><a href="#" aria-label="Page 6">6</a></li>
            <li><a href="#" aria-label="Page 7">7</a></li>
            <li><a href="#" aria-label="Page 8">8</a></li>
            <li><a href="#" aria-label="Page 9">9</a></li>
            <li><a href="#" aria-label="Page 10">10</a></li>
            <li><a href="#" aria-label="Page 11">11</a></li>
            <li><a href="#" aria-label="Page 12">12</a></li>
            <li><a href="#" aria-label="Page 13">13</a></li>
            <li><a href="#" aria-label="Page 14">14</a></li>
            <li><a href="#" aria-label="Page 15">15</a></li>
            <li><a href="#" aria-label="Page 16">16</a></li>
            <li><a href="#" aria-label="Page 17">17</a></li>
            <li><a href="#" aria-label="Page 18">18</a></li>
            <li><a href="#" aria-label="Page 19">19</a></li>
            <li><a href="#" aria-label="Page 20">20</a></li>
            <li><a href="#" aria-label="Page 21">21</a></li>
            <li><a href="#" aria-label="Page 22">22</a></li>
            <li><a href="#" aria-label="Page 23">23</a></li>
            <li><a href="#" aria-label="Page 24">24</a></li>
            <li><a href="#" aria-label="Page 25">25</a></li>
            <li><a href="#" aria-label="Page 26">26</a></li>
            <li><a href="#" aria-label="Page 27">27</a></li>
            <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
          </ul>
        </nav>
      </template>
      -->

    <template v-if="response.data && response.data.length > 0">
      <div class="hit" v-for="hit in response.data" v-html="hit.html">
      </div>
    </template>

    <div v-if="selected_region" id="heatmap-tooltip" class="custom-tooltip">
      <ul class="no-bullet">
        <li v-for="(sigla, reading) in selected_region.readings">
          <span v-for="siglum in sigla" :class="'label manuscript ' + siglum[0].toLowerCase() +
          '-text-id'">{{ siglum[1] }} <sub>{{ siglum[0] }}</sub></span>
          {{ reading }}
        </li>
      </ul>
    </div>
  </div>
</div>
{% endverbatim %}
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script>
  /* beautify preserve:start */
  window.DEBUG = {% if DEBUG %}true{% else %}false{% endif %};
  /* beautify preserve:end */
</script>

<script src="{% static 'vue/dist/vue.js' %}"></script>

<script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'leaflet-iiif/leaflet-iiif.js' %}"></script>

<script src="{% static 'ctrs_texts/text_search.js' %}"></script>
{% endblock %}
