{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}

{% block title %}
  <div class="container">
    <h2>{{ page.title }}</h2>

    <p class="bydate">
      by
      {% for author in page.get_authors %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}
        {{ author.first_name }} {{ author.last_name }}{% endfor %},
      <time datetime="{{ page.specific.data }}">{{ page.specific.date|date:"j M Y" }}</time>
    </p>
  </div>
{% endblock %}

{% block main %}
  <div class="container">
    {{ block.super }}
  </div>
{% endblock %}
