{% extends "cms/base.html" %}
{% load cms_tags wagtailimages_tags wagtailcore_tags %}

{% block title %}
{% if self.get_parent.content_type.name == "index page" or self.get_parent.content_type.name == "people index page" %}
<div class="grid-x grid-margin-x">
    <div class="cell medium-3">
    </div>
    <div class="cell medium-9">
        <h2>
            {{ self.title }}
        </h2>
    </div>
</div>
{% else %}
<div class="container">
    <h2>
        {{ self.title }}
    </h2>
</div>
{% endif %}
{% endblock %}

{% block main %}
{% if self.get_parent.content_type.name == "index page" or self.get_parent.content_type.name == "people index page" %}
<div class="grid-x grid-margin-x data-equalizer" data-equalize-on="medium" id="sidebar">
<div class="cell medium-3 sidebar" data-equalizer-watch="sidebar">
    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
        {% include "cms/includes/index_tree.html" with menu_parent=self|get_section %}
    </ul>
</div>
<div class="cell medium-9" data-equalizer-watch="sidebar">
    {{ block.super }}
</div>
{% else %}
<div class="container">
    {{ block.super }}
</div>
{% endif %}
{% endblock %}

